@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

      html, body{
        width: 100%;
        overflow-x: hidden;
      }

      body {
          font-family: "Roboto", Arial, sans-serif;
      }

      .featured-article {
        display: flex;
        flex-direction: row;
        margin: auto;
        min-height: 400px;
        width: 60%;
      }

      @media screen and (max-width:700px){
        .featured-article {
          flex-direction: column;
          width: 90%;
        }


          .hero-image{
            max-width: 50%;
          }
        

        .captioninvisible {
          display:none;
        }
        
        .fullscreen {
          display:none;
        }

        .hamburger-icon{

          align-content: center;
          display: flex;
        }
      }

    @media screen and (min-width: 701px){
        .hamburger-icon{
          display: none;
        }
      }
      

      .featart-image{
        margin: auto;
        display: block;
      }

      .featart-content{
        margin: auto;
        padding-left: 30px;
      }

      .hero-image{
        max-width: 15%;
      }

      @media screen and (max-width:600px){
          .hero-image{
            max-width: 50%;
          }
        }

        @media screen and (max-width:600px) {
        .captioninvisible {
          display:none;
        }

      }

       /* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}


    .menu-mobile{
      justify-content: space-between;
    }

p {
  font-size: 2.2vh;
}

blockquote {
  margin: 30px;
  font-style: italic;
  font-size: 2.2vh;
}

a {
  color:inherit;
}

a:hover {
  color:#0ea69a;
}

/*Back to top*/

#btn-back-to-top {
  position: fixed;
  bottom: 67px;
  right: 20px;
  display: none;
  background-color: #0ea69a;
  border-color: #0ea69a00;
  z-index: 9000;
  

}